{{ define "main" }}
{{ $dateFormat := "2006-01-02" }}
{{ if .Site.Params.dateFormat }}
{{ $dateFormat = .Site.Params.dateFormat }}
{{ end }}
<main>
  <article>
    <header>
      <h1>{{.Title}}</h1>
    </header>
    <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
    {{.Content}}
  </article>

  <div class="articles h-feed">
    <ol>
      {{range .Pages}}
      <li>
        <article class="post-list h-feed">
          <header class="post-header">
            <h1 class="p-name post-title">
              <a href="{{.Permalink}}" class="u-url"> {{.Title}} </a>
            </h1>
          </header>
          <div class="content post-summary p-summary">{{.Description}}</div>
          <div class="post-info">
            {{ if .Params.date }}
            <div class="post-date dt-published">{{ .Params.date.Format $dateFormat }}</div>
            {{ end }}

            <a class="post-hidden-url u-url" href="{{ .Permalink }}">{{ .Permalink }}</a>
            <a href="{{ .Site.BaseURL }}" class="p-name p-author post-hidden-author h-card" rel="me">{{ .Params.author |
              default .Site.Params.author }}</a>

            <div class="post-taxonomies">
              {{ if .Params.categories }}
              <ul class="post-categories">
                {{ range .Params.categories }}
                <li><a href="{{ " categories/" | urlize | absLangURL }}">{{ . }}</a></li>
                {{ end }}
              </ul>
              {{ end }}
              {{ if .Params.tags }}
              <ul class="post-tags">
                {{ range .Params.tags }}
                <li><a href="{{ " tags/" | absLangURL }}{{ . | urlize }}">#{{ . }}</a></li>
                <!-- <li>#{{ . }}</li> -->
                {{ end }}
              </ul>
              {{ end }}
            </div>
          </div>
        </article>
      </li>
      {{end}}
    </ol>
  </div>
  <ul>
    <!-- Ranges through content/posts/*.md -->
    {{ range .Pages }}
    <li>
      <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
    </li>
    {{ end }}
  </ul>
</main>
{{ end }}