{{ define "main" }}
<main aria-role="main">
  <header class="homepage-header">
    <h1>{{.Title}}</h1>
    {{ with .Params.subtitle }}
    <span class="subtitle">{{.}}</span>
    {{ end }}
  </header>

  <div class="homepage-content">
    <br>
    {{.Content}}
  </div>

  <div>
    <h1>Random Articles</h1>
    <ol>
      {{ range first 5 .Site.RegularPages }}
      {{/* summary is a custom partial function i crated to which accepts a page and returns a generated card
      summary*/}}
      {{.Render "summary"}}
      {{ end }}
    </ol>

    {{/* <li> */}}
      {{/* <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a> */}}
      {{/* </li> */}}
    {{/* {{ range .Pages }}
    <li>
      <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
    </li>
    {{ end }}

    {{ range first 10 .Site.RegularPages }}
    {{ .Render "summary"}}
    {{ end }} */}}
  </div>
</main>
{{ end }}