{{ define "main" }}
<main role="main">
  <header class="homepage-header">
    <h1>{{.Title}}</h1>
    {{ with .Params.subtitle }}
    <span class="subtitle">{{.}}</span>
    {{ end }}
  </header>

  <div class="homepage-content">
    <br>
    {{.Content}}
    <br>
  </div>

  <div>
    <h1>Blog Posts</h1>
    <ol>
      {{ range first 5 .Site.RegularPages }}
      {{/* summary is a custom partial function i crated to which accepts a page and returns a generated card
      summary*/}}
      {{.Render "summary"}}
      {{ end }}
    </ol>

  </div>
</main>
{{ end }}