.center {
  display: "flex";
  justify-content: center;
  align-items: center;
}
.center-img {
  margin-left: auto;
  margin-right: auto;
}
img {
  margin-top: 2%;
}

.caption {
  font-size: smaller;
  font-style: italic;
  color: var(--caption-color);
  margin-bottom: 5%;
}
